<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../assets/stylesheets/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="../assets/stylesheets/style.css">
	<script src="../assets/javascripts/bootstrap/bootstrap.bundle.js"></script>
	<title>Password Manager</title>
</head>

<body>
	<header>
		<div class="container-fluid py-2 d-flex justify-content-end">
			<button class="close-btn" id="closeBtn"></button>
		</div>
	</header>
	<div class="container-fluid px-3 py-3 h-100">

		<div class="row h-100">
			<div class="col-3 border-right">
				<!-- <div class="d-grid mb-3">
					<button class="btn btn-outline-light" id="newBtn">
						<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
							fill="#ffffff">
							<path d="M0 0h24v24H0V0z" fill="none" />
							<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
						</svg> <span class="fw-bold">New Entry</span>
					</button>
				</div> -->
				<div class="list-group list-group-flush" id="password-list">

				</div>
			</div>
			<div class="col-8 offset-1 px-5 d-flex align-items-center">
				<div class="row">
					<input type="text" class="form-control mb-3" id="siteName" placeholder="Site Name*">
					<input type="text" class="form-control mb-3" id="siteURL" placeholder="Site URL">
					<input type="text" class="form-control mb-3" id="username"
						placeholder="Username*" />

					<div class="input-group p-0 mb-3">
						<input type="text" class="form-control form-control-sm" id="password" placeholder="Password*" />
						<button class="btn btn-sm btn-outline-light" type="button" id="autoGenerateBtn"
							title="Auto Generate Password">
							<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px"
								viewBox="0 0 24 24" width="24px" fill="#ffffff">
								<g>
									<path d="M0,0h24v24H0V0z" fill="none" />
								</g>
								<g>
									<g>
										<path
											d="M12,5V2L8,6l4,4V7c3.31,0,6,2.69,6,6c0,2.97-2.17,5.43-5,5.91v2.02c3.95-0.49,7-3.85,7-7.93C20,8.58,16.42,5,12,5z" />
										<path
											d="M6,13c0-1.65,0.67-3.15,1.76-4.24L6.34,7.34C4.9,8.79,4,10.79,4,13c0,4.08,3.05,7.44,7,7.93v-2.02 C8.17,18.43,6,15.97,6,13z" />
									</g>
								</g>
							</svg>
						</button>
					</div>

					<div class="p-0 mb-3 w-100">
						<span class="ms-2" id="lengthText">Length (12)</span>
						<input class="w-100 border-0" type="range" min="12" max="40" value="12" step="1" id="passwordLength" />
					</div>

					<div class="p-0 mb-3">
						<input type="checkbox" id="numbers" checked id="numbers" />
						<label for="">Numbers (e.g. 123)</label>
					</div>

					<div class="p-0 mb-3">
						<input type="checkbox" id="symbols" checked id="symbols" />
						<label for="">Symbols (e.g. !@#)</label>
					</div>

					<div class="d-grid gap-2 d-md-block text-center">
						<button class="btn btn-outline-light" type="button" id="saveBtn">
							Save
						</button>
						<button class="btn btn-outline-light" type="button" id="resetBtn">
							Reset
						</button>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script defer src="../assets/javascripts/script.js"></script>
</body>

</html>